#root {
  max-width: 2560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html{
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}